{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{{ form_start(form, {
    'action': path('app_event_new'),
    'attr': {
        'class': 'formEvent'
    }
})}}


<div class="formEvent__date">

    <div class="form-group">
        {{ form_label(form.beginAt)  }}
        {{ form_widget(form.beginAt, {'attr': {
            'class': 'dateTime',
            'value': beginAt
            }}) }}
        {{ form_errors(form.beginAt) }}
    </div>

    <div class="form-group">
        {{ form_label(form.endAt) }}
        {{ form_widget(form.endAt, {'attr': {'class': 'dateTime'}}) }}
        {{ form_errors(form.endAt) }}
    </div>
</div>



<div class="formEvent__info">

    <div class="form-group">
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre) }}
        {{ form_errors(form.titre) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>
</div>


<div class="formEvent__option">
    <div class="form-group">
        {{ form_label(form.isPublic) }}
        {{ form_widget(form.isPublic, {'attr': {'class': 'form-check-input'}}) }}
        {{ form_errors(form.isPublic) }}
    </div>
</div>

<div class="formEvent__buttons">
    <a href="{{path('app_event_new',{'close' : 'close' })}}" data-turbo-prefetch="false" data-turbo-stream data-no-swup>close</a>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>





    {#todo Option avancé : rappel, invitation, besoin a faire pour la V2  #}
    {# <div class="form-group">
        {{ form_label(form.invite) }}
        {{ form_widget(form.invite, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.invite) }}
    </div>

    <div class="form-group">
        {{ form_label(form.type) }}
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.type) }}
    </div>

    <div class="form-group">
        {{ form_label(form.participations) }}
        {{ form_widget(form.participations, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.participations) }}
    </div>

    <div class="form-group">
        {{ form_label(form.need) }}
        {{ form_widget(form.need, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.need) }}
    </div> #}



{{ form_end(form) }}
