{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{{ form_start(form) }}

    {# <div class="form-group">
        {{ form_label(form.uuid) }}
        {{ form_widget(form.uuid, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.uuid) }}
    </div> #}

    {# <div class="form-group">
        {{ form_label(form.createdAt) }}
        {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.createdAt) }}
    </div>

    <div class="form-group">
        {{ form_label(form.editedAt) }}
        {{ form_widget(form.editedAt, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.editedAt) }}
    </div> #}

    <div class="form-group">
        {{ form_label(form.beginAt) }}
        {{ form_widget(form.beginAt, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.beginAt) }}
    </div>

    <div class="form-group">
        {{ form_label(form.endAt) }}
        {{ form_widget(form.endAt, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.endAt) }}
    </div>

    <div class="form-group">
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.titre) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.isPublic) }}
        {{ form_widget(form.isPublic, {'attr': {'class': 'form-check-input'}}) }}
        {{ form_errors(form.isPublic) }}
    </div>



    {#todo Option avancé : rappel, invitation, besoin a faire pour la V2  #}
    {# <div class="form-group">
        {{ form_label(form.invite) }}
        {{ form_widget(form.invite, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.invite) }}
    </div>

    <div class="form-group">
        {{ form_label(form.type) }}
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.type) }}
    </div>

    <div class="form-group">
        {{ form_label(form.participations) }}
        {{ form_widget(form.participations, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.participations) }}
    </div>

    <div class="form-group">
        {{ form_label(form.need) }}
        {{ form_widget(form.need, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.need) }}
    </div> #}

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
